[kibana-{{ kibana_version }}]
name=Kibana repository for {{ kibana_version }}.x packages
baseurl=http://packages.elastic.co/kibana/{{ kibana_version }}/{{ distribution_type }}
gpgcheck=1
gpgkey={{ elasticsearch_rpm_key }}
enabled=1
